#testimony {
  background: var(--light-gray);
  position: relative;
  padding-block: 5.8rem 2.5rem;
  width: 100%;

  .container {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
  }

  .piment {
    position: absolute;
    top: -45rem;
    left: 10rem;
    pointer-events: none;
  }

  h2 {
    margin-top: 1.4rem;
    color: var(--darker);
    font-family: "avenirheavy", sans-serif;
    font-weight: 800;
  }
}
